{% layout "layout.liquid" %}
{% block content %}

{%if error == 'ValidationError: userThoughts: Path `userThoughts` is required.'%}
<h1>Please enter a review to log a movie</h1>
{%else%}
<h1 class="error">{{error}}</h1>
{%endif%}
{% endblock %}