{% layout "layout.liquid" %}
{% block content %}

    <div class="logger-welcome">
        <img src={{"../imgs/movieloggericon.png"}} style="height:30rem">
    </div>
    <h1 class="logger-welcome">Review and <br> discuss movies!</h1>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
    <small class="logger-welcome">Sign In to review</small>
    <div>Review</div>
    <div>Find a movie</div>
{% endblock %}