{% layout "layout.liquid" %}
{% block content %}



    <div class="logger-welcome">
        <img src={{"../imgs/movieloggericon.png"}} style="height:30rem">
    </div>
    <h1 class="logger-welcome">Review and <br> discuss movies!</h1>
    <h6 class="logger-welcome"><a href="/auth/login" class="btn btn-primary">Sign In to review</a> </h6>
    <h6 class="logger-welcome"><a href="/auth/signup" class="btn btn-primary">Sign Up</a> </h6>


{% endblock %}