body {
    background-color: #57cc99;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.logText {
    height: 300px;
}
form {
    width: auto;
}
.movie-info {
    width: 400px;
}
#review-box{
 height: 8rem;
}
.comment-card{
    display: flex;
    width: 25rem; 
}
#search-result{
    margin:20px;
}
#logger-welcome-icon {
    display: flex;
    height: 15rem;
    margin: 5px;
    justify-content: center;
}
.hidden {
    display:none;
}
#plot{
    margin:10px;
}

.all-cards{
    margin: 45px;
}
.card{
    display:flex;
    justify-content: center;
    margin: 4px;
    background-color: #38A3A5;
    align-items: center;
}
.comment-card-body{
    margin:15px;
    display: flex;
    width: 20rem;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    justify-content: space-between;
}
.comment-spacer{
    width: 15px;
}
#result-poster {
    display: flex;
    justify-content: center;
}
.card-body {
    margin: 4px;
    background-color: #38A3A5;
    color: #C7F9CC;
    width: auto;
}
.card-text{
    color: #C7F9CC;
}
.card-header{
    color: #C7F9CC;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
#movie-info-show{
    background-color: #22577a;
    color: #C7F9CC;
    margin: auto 0;
}
.col-md-4 {
    margin: auto;
}
.col-md-8 {
    margin:  0;
}
.view-all-card {
    display: flex;
    justify-content: center;
    border: black, solid, 22px;
}
.btn-info {
    background-color: #22577a;
    color: #C7F9CC;
}
.logger-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight:bolder;
    margin:12px;
}

.index-page {
    display: grid;
    column-gap: 30px;
}
.show-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.show-image{
    max-width:30%;
    height:auto;
    border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.search-box{
    width: 50%;
}
img{
    margin:0;
    max-width: 100%;
    height: auto;
}
