body {
    background-color: #57cc99;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.logText {
    height: 300px;
}
.movie-info {
    width: 400px;
}
.hidden {
    display:none;
}
.navbar{
    background-color: #22577a;
}
.card{
    display:flex;
    justify-content: center;
    margin: 4px;
    background-color: #38A3A5;
}
#result-poster {
    display: flex;
    justify-content: center;
}
.card-body {
    margin: 4px;
    background-color: #38A3A5;
    color: white;
}
.card-text,.card-header{
    color:white;
}
#movie-info-show{
    background-color: #22577a;
    color: white;
    border-radius: 9px;
}
.view-all-card {
    display: flex;
    justify-content: center;
    border: black, solid, 22px;
}
.btn-info {
    background-color: #22577a;
    color: white;
}
.logger-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight:bolder;
    margin:12px;
}
.navbar-dark {
    background-color: #22577a;
}
.bg-dark {
    background-color: #22577a;
}
.index-page {
    display: grid;
    column-gap: 30px;
}
.show-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.show-image{
    max-width:30%;
    height:auto;
    border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.search-box{
    width: 50%;
}
img{
    margin:0;
    max-width: 100%;
    height: auto;
}

