{% layout 'new.liquid' %}
{% block content %}

{%- comment -%} display results and  {%- endcomment -%}
<h1>{{movie.title}}</h1>
{%- comment -%} movie title {%- endcomment -%}
{%- comment -%} poster image {%- endcomment -%}
{%- comment -%} synopsis {%- endcomment -%}


{% endblock %}